<div class="container">
	<div class="title-box text-center">
		<h1 class="page-title">TOP MEMES</h1>
		<p>in the past</p>
		<div class="ari-dropdown">
			<h1 class="range-choice">
					<% case @time %>
					<% when 24.hours %>
						<%= "24 HOURS" %>
					<% when 1.week %>
						<%= "WEEK" %>
					<% when 1.month %>
						<%= "MONTH" %>
					<% when 1.year %>
						<%= "YEAR" %>
					<% end %>
				<i class="fas fa-angle-right rotate"></i>
			</h1>
			<div class="aridrop-box">
				<% @dropdown_options.each do |time| %>
						<%= link_to memes_path(:time => time[0]) do %>
							<% unless time[0] == @time %>
								<h1 class="range-choice aridrop"><%= time[1] %></h1>
							<% end %>
						<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="meme-box">
		<% @memes.each do |meme| %>
			<%= link_to meme_path(meme) do %>
				<%= cl_image_tag meme.photo, class: "square-meme" %>
			<% end %>
		<% end %>
		</div>
	</div>
</div>