<div class="container">
	<h3 class="meme-title text-center" id=<%= @meme.id.to_s %>><%= @meme.title %></h3>
	<div class="meme-and-arrows">
		<i class="fas fa-caret-left arrow"></i>
		<%= cl_image_tag @meme.photo, class: "meme-max-width" %>
		<i class="fas fa-caret-right arrow"></i>
	</div>
	<div class="posted-by">
		<div class="flex user-info">
			<p>Posted by&nbsp;</p><p class="user-text"><%= @meme.user.username %></p>
			<%= cl_image_tag @meme.user.avatar, class: "user-pic" %>
		</div>
		<p><%= @meme.date.strftime("%e/%m/%Y %l:%M %p") %></p>
	</div>
	<div class="voting">
		<div class="voting-btns flex">
			<div class="flex epic-win">
				<p >EPIC WIN</p>
				<i class="fas fa-hand-point-up"></i>
			</div>
			<div class="flex epic-fail">
				<p>EPIC FAIL</p>
				<i class="fas fa-hand-point-down"></i>
			</div>
		</div>
		<div class="vote-count">
			<p><%= @votes %> total votes</p>	
		</div>
	</div>
	<hr>
	<p>Caption: <%= @meme.caption %></p>
	<p>Tags: <% @meme.tags.each do |tag| %>
		 	<%= tag.name %>
		 <% end %>
	</p>
</div>